* {
    margin: 0;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    background-color: grey;
}

footer {
    padding: 20px;
    background-color: grey;
}

main {
    flex: 1;
    margin: 10px;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: darkblue;
}